

@model MathematicalProblemsGenerator.Areas.SquareEquations.Models.SquareEquations01M

<h1>@Model.Title</h1>


<div style="display: flex; justify-content: space-between;">
    <div>
        <br />
        <h2>

            <span style="font-family:Calibri; font-weight: bold;">

             y= @Model.wspA  x<sup>2</sup>@Model.znak1TXT @Model.wspBX @Model.znak2TXT @Model.wspC<br />
            </span>
        </h2>

    </div>
    <br />
    <div style="margin-right: 0;">
        <a class="btn btn-1 btn-sep icon-refresh" asp-area="SquareEquations" asp-controller="SquareEquations01" asp-action="Index">Nowe zadanie</a>
    </div>
    <div style="margin-right: 0;">
        <label class="btn btn-1 btn-sep icon-show" for="expend">Pokaż wynik</label>

    </div>
    <div style="margin-right: 0; height:30%; background-color:blue">
        <p>sdasdsads</p>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6759106752232032"
                crossorigin="anonymous"></script>
        <ins class="adsbygoogle"
             style="display:block; text-align:center;"
             data-ad-layout="in-article"
             data-ad-format="fluid"
             data-ad-client="ca-pub-6759106752232032"
             data-ad-slot="7604653734"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
</div>


<div class="service-1 click1 container">
    <div class="row">
        <input type="checkbox" id="expend" />

        <div class="medium-12 small-12 columns smalldesc" style="background-color:lightgray; display:flex">

            <br />
            <div class="col-5">
                <h4><b>@Model.Info1</b></h4>
                <br />
                <h6>@Model.Info2</h6>

                <ul>
                    <li>
                        <b>a: </b> @Model.wspA
                    </li>
                    <li>
                        <b>b: </b> @Model.wspB
                    </li>
                    <li>
                        <b>c: </b> @Model.wspC
                    </li>

                </ul>
                <p><b>@Model.Info3</b></p>
                <p>    Δ= b<sup>2</sup> - 4ac = @Model.wspBInDelta - 4 * @Model.wspAInDelta * @Model.wspCInDelta  = @Model.deltaLiczbowo</p>

                <br />
                <p>@Model.Info4</p>
                @if (@Model.deltaPlus == true)
                {

                    <table>
                        <tbody>
                            <tr>
                                <td rowspan="3">
                                </td>

                                <td style="text-align: center;">
                                </td>

                                <td style="text-align: center;">
                                    (-b - √Δ)
                                </td>

                                <td>
                                </td>

                                <td style="text-align: center;">
                                    ( @Model.wspB - √@Model.deltaLiczbowo )
                                </td>
                                <td rowspan="3">
                                </td>

                                <td>
                                </td>
                                <td style="text-align: center;">
                                    @Model.Eq01wynikGora1
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>

                                <td style="text-align: center;">
                                    x<sub>1</sub> =
                                </td>
                                <td style="text-align: center;">
                                    ⎯⎯⎯⎯⎯⎯⎯⎯⎯
                                </td>

                                <td style="text-align: center;">
                                    =
                                </td>
                                <td style="text-align: center;">
                                    ⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯
                                </td>


                                <td style="text-align: center;">
                                    ≈ 
                                </td>

                                <td style="text-align: center;">
                                    ⎯⎯⎯⎯⎯⎯⎯⎯⎯
                                </td>


                                <td style="text-align: center;">
                                    ≈ @Model.Eq01wynik1
                                </td>
                            </tr>
                            <tr>

                                <td >
                                </td>

                                <td style="text-align: center;">
                                    2 * a
                                </td>
                                <td rowspan="3">
                                </td>
                                <td style="text-align: center;">
                                    2 * @Model.wspA
                                </td>
                                <td rowspan="3">
                                </td>


                                <td style="text-align: center;">
                                    @Model.Eq01wynikDol1
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <table>
                        <tbody>
                            <tr>
                                <td rowspan="3">
                                </td>

                                <td style="text-align: center;">
                                </td>

                                <td style="text-align: center;">
                                    (-b + √Δ)
                                </td>

                                <td>
                                </td>

                                <td style="text-align: center;">
                                    ( @Model.wspB + √@Model.deltaLiczbowo )
                                </td>
                                <td rowspan="3">
                                </td>

                                <td>
                                </td>
                                <td style="text-align: center;">
                                    @Model.Eq01wynikGora2
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>

                                <td style="text-align: center;">
                                    x<sub>2</sub> =
                                </td>
                                <td style="text-align: center;">
                                    ⎯⎯⎯⎯⎯⎯⎯⎯⎯
                                </td>

                                <td style="text-align: center;">
                                    =
                                </td>
                                <td style="text-align: center;">
                                    ⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯
                                </td>


                                <td style="text-align: center;">
                                    ≈
                                </td>

                                <td style="text-align: center;">
                                    ⎯⎯⎯⎯⎯⎯⎯⎯⎯
                                </td>


                                <td style="text-align: center;">
                                    ≈ @Model.Eq01wynik2
                                </td>
                            </tr>
                            <tr>

                                <td>
                                </td>

                                <td style="text-align: center;">
                                    2 * a
                                </td>
                                <td rowspan="3">
                                </td>
                                <td style="text-align: center;">
                                    2 * @Model.wspA
                                </td>
                                <td rowspan="3">
                                </td>


                                <td style="text-align: center;">
                                    @Model.Eq01wynikDol1
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }

                @if (@Model.deltaPlus == true)
                {

                    <table>
                        <tbody>
                            <tr>
                                <td rowspan="3">
                                </td>

                                <td style="text-align: center;">
                                </td>

                                <td style="text-align: center;">
                                    (-b )
                                </td>

                                <td>
                                </td>

                                <td style="text-align: center;">
                                    ( @Model.wspB  )
                                </td>
                                <td rowspan="3">
                                </td>

                                <td>
                                </td>
                                <td style="text-align: center;">
                                    @Model.Eq01wynikGora1
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>

                                <td style="text-align: center;">
                                    x<sub>1</sub> =
                                </td>
                                <td style="text-align: center;">
                                    ⎯⎯⎯⎯⎯⎯⎯⎯⎯
                                </td>

                                <td style="text-align: center;">
                                    =
                                </td>
                                <td style="text-align: center;">
                                    ⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯⎯
                                </td>


                                <td style="text-align: center;">
                                    ≈
                                </td>

                                <td style="text-align: center;">
                                    ⎯⎯⎯⎯⎯⎯⎯⎯⎯
                                </td>


                                <td style="text-align: center;">
                                    ≈ @Model.Eq01wynik1
                                </td>
                            </tr>
                            <tr>

                                <td>
                                </td>

                                <td style="text-align: center;">
                                    2 * a
                                </td>
                                <td rowspan="3">
                                </td>
                                <td style="text-align: center;">
                                    2 * @Model.wspA
                                </td>
                                <td rowspan="3">
                                </td>


                                <td style="text-align: center;">
                                    @Model.Eq01wynikDol1
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                   
                }



                <br />
                <br />

               
                <p>@Model.Info6</p>
               
                


            </div>
            <div class="col-5" style="display:flow">
                <h4><b>@Model.Info7</b></h4>
                
                <img src="\images\@Model.imageToView" alt="Wykres" />
                
            </div>
            <div class="col-2" style="background-color:aquamarine">
                <p>aaa</p>
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6759106752232032"
                        crossorigin="anonymous"></script>
                <ins class="adsbygoogle"
                     style="display:block; text-align:center;"
                     data-ad-layout="in-article"
                     data-ad-format="fluid"
                     data-ad-client="ca-pub-6759106752232032"
                     data-ad-slot="7604653734"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
        
    </div>
</div>

